.combatBanner {
  background-color: orange;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
}
