.textDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textTitle {
  font-size: 1.5em;
  padding-top: 0px;
  margin: 3px auto 0px 0px;
  font-family: monospace;
}

.textInfo {
  font-size: 1em;
  width: 96%;
  height: 90%;
  margin: 10px auto 10px auto;
  resize: none;
  font-family: cursive;
}

.rounds {
  margin: auto 10px auto 10px;
}

.CampaignCreateDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.CampaignDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.deleteButton {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
}

.campaignItem {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}

.campaignButton {
  color: white;
  border-color: transparent;
  margin: auto 35px auto 8px;
  height: 70%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a95),
    to(#fea)
  );
}
