input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pc {
  position: relative;
  background-color: rgba(183, 142, 20, 0.808);
  opacity: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  max-width: 350px;
  min-width: 310px;
  border-radius: 5px;
  height: 90%;
  min-height: 200px;
}

.top {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 0%;
  background-color: rgb(214, 175, 56);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 5px;
}

.mid {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  margin-top: 0%;
  padding: 0%;
  background-color: rgb(214, 175, 56);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 5px;
  height: 23%;
}

.pcName {
  font-size: 1em;
  margin-top: 0%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-bottom: 0%;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  height: max-content;
}

.pcHp {
  font-size: 1em;
  margin-top: 0%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-bottom: 0%;
  background-color: rgb(214, 175, 56);
  border-radius: 5px;
  text-align: center;
  height: max-content;
  width: 40%;
}

.hp {
  color: green;
}

.pcClass {
  font-size: 1em;
  padding-right: 3%;
  padding-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0%;
  padding-bottom: 0%;
  border-radius: 10%;
  background-color: rgb(214, 175, 56);
  border-radius: 10%;
  text-align: center;
  min-width: 65px;
  padding-left: 2%;
}

.Level {
  font-size: 1em;
  padding-right: 3%;
  padding-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0%;
  padding-bottom: 0%;
  border-radius: 10%;
  text-align: center;
  min-width: 70px;
}

.pcSave {
  font-size: 1em;
  font-weight: bolder;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 5px;
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.statsNum,
.inputP {
  background-color: rgba(183, 142, 20, 0.808);
  font-weight: bold;
  margin-right: 2%;
  font-size: 0.8em;
  border-radius: 5px;
  margin-left: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-width: 1px;
  height: 55%;
  padding-left: 3px;
  padding-right: 3px;
}

.inputP {
  padding-bottom: 4px;
}

.stats {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 95%;
  margin-bottom: 0px;
  height: 30%;
  min-height: 60px;
  background-color: rgb(214, 175, 56);
  border-radius: 5px;
  padding-bottom: 5px;
}

.statinput {
  width: 1vw;
  border-radius: 5px;
  margin-left: 5px;
}

.levelDiv {
  width: max-content;
  padding: 3%;
  border-radius: 5px;
}

.level {
  font-size: 0.7em;
  margin: 0%;
}

.txt {
  width: 40%;
  border-radius: 5px;
}

.statCreate {
  background-color: rgb(214, 175, 56);
  width: 98%;
  padding-bottom: 2%;
  border-radius: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
  border-radius: 10px;
}

.PlayerDelete {
  font-size: 1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #111;
  color: white;
  background: linear-gradient(180deg, #555 0%, #222 49%, #000 51%, #222 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.3);
}

.createPlayer {
  font-size: 1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg, #fea 0%, #dc8 49%, #a95 51%, #dc8 100%);
  border-radius: 5px;
  margin-bottom: 5px;
}

.createPlayer:disabled {
  opacity: 1;
  cursor: not-allowed;
}

#pcName {
  color: darkblue;
  padding: 0px 4px 4px 4px;
  border-radius: 5px;
  letter-spacing: 1.2px;
}

.races {
  position: relative;
  list-style-type: none;
  margin: 0%;
  z-index: 9999;
  /* width: 90%; */
  margin: auto;
}

.raceList {
  border-radius: 5px;
  list-style-type: none;
  position: relative;
  background-color: white;
  margin: 0%;
  z-index: 9999;
  font-size: 0.8em;
  padding-left: 0%;
  padding: 1px 3px 1px 3px;
  max-height: 125px;
  width: fit-content;
  overflow-x: visible;
  overflow-y: scroll;
  margin: auto;
}

.raceList::-webkit-scrollbar {
  width: 6px;
}

.raceList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.raceList::-webkit-scrollbar-track {
  background-color: transparent;
}

.textDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.textTitle {
  font-size: 1.5em;
  padding-top: 0px;
  margin: 10px auto 5px auto;
  font-family: monospace;
}

.textInfo {
  font-size: 1em;
  width: 96%;
  height: 90%;
  margin: auto auto 10px auto;
  resize: none;
  font-family: cursive;
}

.rounds {
  margin: auto 10px auto 10px;
}
.notesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  min-height: 45px;
  background-color: #cbb279;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding: 5px;
  margin-bottom: 0px;
}

.notesButton {
  color: white;
  border-color: transparent;
  margin: auto 10px auto 10px;
  border-radius: 7px;
  height: 70%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a95),
    to(#fea)
  );
}

.CampaignCreateDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}
