body {
  /* background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/f17f2d94900513.5e8a7dade6408.jpg); */
  background-color: #e1d4bb;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative; */
}

.title {
  color: rgb(83, 6, 6);
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0px;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.NavBar {
  min-width: 1300px;
  position: relative;
  background-color: #cbb279;
  width: 100%;
  min-height: 40px;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Player {
  min-width: 1300px;
  position: relative;
  background-color: bisque;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 25vh;
  min-height: 240px;
  overflow: auto;
  overflow-y: hidden;
}
.CombatPlayer {
  min-width: 1300px;
  position: relative;
  background-color: bisque;
  /* background-color: #e1d4bb; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25vh;
  min-height: 240px;
  overflow: auto;
  overflow-y: hidden;
}

.combatBanner {
  background-color: #cbb279;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  width: 100%;
  min-height: 40px;
  border-bottom-style: solid;
  border-bottom-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#campaignImg {
  margin-right: 5px;
}
#encounterImg {
  margin-right: 5px;
}

.listTitle {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  height: 80%;
  padding: 0px 0px 0px 0px;
  margin-left: 20px;
  max-width: 40%;
}

.listTitle:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.listTitle:hover:active {
  transform: scale(1);
}
.listAnswer {
  margin: auto auto auto 5px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: sans-serif;
  text-decoration: underline;
}

.bannerButton {
  color: white;
  border-color: transparent;
  margin: auto 35px auto auto;
  border-radius: 7px;
  height: 70%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a95),
    to(#fea)
  );
}

#setInitative {
  min-height: 30px;
  margin-left: 25px;
  margin-right: auto;
}

#endCombat {
  min-height: 30px;
  border-color: #981121;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#69000d),
    to(#ffe6e9)
  );
}

.Outlet {
  display: flex;
  flex-direction: row;
  min-width: 1300px;
}
.Enemy {
  min-width: 644px;
  padding: 0px 5px 5px 0px;
  position: relative;
  background-color: bisque;
  width: 49%;
  /* margin-top: 10px; */
  margin-left: 1%;
  margin-right: 0%;
  display: flex;
  flex-direction: row;
  float: left;
  flex-direction: column;
  height: 65vh;
  min-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.DisplayMonster {
  min-width: 645px;
  z-index: 1;
  position: relative;
  /* background-image: url("../public/Monster2.jpg"); */
  background-color: bisque;
  width: 49%;
  float: right;
  /* margin-top: 10px; */
  margin-left: 2%;
  margin-right: 1%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 65.5vh;
  min-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.basic {
  background-color: bisque;
}

.Enemy::-webkit-scrollbar,
.DisplayMonster::-webkit-scrollbar {
  width: 12px;
}

.Enemy::-webkit-scrollbar-track,
.DisplayMonster::-webkit-scrollbar-track {
  /* border-radius: 8px; */
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.Enemy::-webkit-scrollbar-thumb,
.DisplayMonster::-webkit-scrollbar-thumb {
  /* border-radius: 8px; */
  background-color: #537188;
}
