body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/f17f2d94900513.5e8a7dade6408.jpg);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Player {
  background-color: bisque;
  width: 98%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:250px;
  border-radius: 25px;
}

.Enemy{
  padding: 5px;
  position: fixed;
  background-color: bisque;
  width: 48%;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  border-radius: 25px;
  height:70%;
  overflow: scroll;
  overflow-x: hidden;
}

.DisplayMonster {
  position: fixed;
  margin-top: 20px;
  background-color: bisque;
  width: 48%;
  float: right;
  margin-left: 51%;
  display: flex;
  border-radius: 25px;
  height:70%;
  overflow: scroll;
  overflow-x: hidden;
}