.enemyDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.playerDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(139, 88, 11);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.enemyTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0%;
  padding: 0%;
}

.enemyBot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
  min-height: 75px;
  height: fit-content;
  padding: 0% 5% 0.5% 5%;
}

.enemyName {
  font-size: 1.5em;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: underline;
  height: fit-content;
}

.enemyHp {
  font-size: 2vw;
  margin: auto auto 0px auto;
  width: fit-content;
}

.monsterRef {
  font-size: 2vw;
  margin-top: auto;
  margin-bottom: 0%;
  min-width: 20%;
}

.health {
  color: green;
}

.encounterCreateDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.encounterDiv {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: solid;
  margin: 5px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(216, 135, 14);
  opacity: 80%;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.deleteButton {
  margin: auto;
  max-height: 30px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
}
.deleteMonster {
  margin: auto auto 0px auto;
  max-height: 30px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #111;
  color: #555;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 1);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#333)
  );
}

.encounterItem {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}
.enemyItem {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: bold;
}

.encounterButton {
  color: white;
  border-color: transparent;
  margin: auto 35px auto 8px;
  height: 70%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a95),
    to(#fea)
  );
}
.DropListWrap {
  padding: 0px;
}
.DropList {
  list-style-type: none;
  text-align: center;
  width: 300px;
  margin: 5px auto 0px auto;
}
.DropList:hover {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

#customButton {
  margin-right: 3px;
}

#defaltButton {
  margin-right: 3px;
  margin-left: auto;
}

#nameClick:hover {
  color: maroon;
  text-decoration: line-through;
  cursor: pointer;
}
